<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action = "http://localhost:5000/id" method = "post">
         <p>Enter id:</p>
         <p><input type = "text" name = "id" /></p>
         <p><input type = "submit" value = "submit" /></p>
    </form>
    <form action = "http://localhost:5000/titre/" method = "post">
         <p>Titre:</p>
         <p><input type = "text" name = "title" /></p>
         <p><input type = "submit" value = "submit" /></p>
    </form>


</body>
</html>